.DS_Store

# automation
crontab/
ghc/
cabal/
menus/

# lazygit
state.yml

# yazi plugins
.config/yazi/plugins/*

# Stardew Valley saves
.config/StardewValley

# btop config
.config/btop/btop.conf

# weechat
.config/weechat/*

# tmux plugins
.tmux/plugins
